*.mp4 filter=lfs diff=lfs merge=lfs -text
artwork/depth-portal/**/source/*.png filter=lfs diff=lfs merge=lfs -text
artwork/depth-portal/**/working/*.png filter=lfs diff=lfs merge=lfs -text
artwork/depth-portal/**/working/*.psd filter=lfs diff=lfs merge=lfs -text
artwork/depth-portal/**/working/*.exr filter=lfs diff=lfs merge=lfs -text
